.navbar {
  padding: 20px;
  display: flex;
  background-color: whitesmoke;
  color: rgb(255, 199, 199);
}
.main-bg {
  background-size: 100% 400px;
  height: 400px;
  background-image: url(./banner1.jpeg);
  background-position: center;
}
.product-box {
  float: left;
  align-items: center;
  display: block;
  text-align: center;
  margin: 0, auto;
  padding: 20px;
  color: black;
}

.event-pages {
  text-align: center;
}
